@model Ordering.Models.Food

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Food</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Food_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Food_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Food_CateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Food_CateId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Food_ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Food_ImagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Food_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
